@model LJH.VRTool.Web.Models.Source.SourceViewModel
@section styles{
    <link href="~/lib/krpano/hplus/css/plugins/blueimp/css/blueimp-gallery.min.css" rel="stylesheet" />
    <link href="~/lib/krpano/hplus/css/plugins/fancybox/fancybox.css" rel="stylesheet" />
    <style>
        .layui-tab-content {
            padding-left: 50px;
        }

        .file-option, .file-name {
            text-align: center
        }

        .upload-button-container {
            margin: 15px 0;
        }

        .add_newgroup {
            padding: 12px 5px;
            color: #293846;
        }

        .jstree-position {
            width: 180px;
            position: absolute
        }

        .tree-selected {
            background-color: #293846;
        }

        .tree-dl dl dd span {
            display: none;
        }

        .tree-dl dl:hover dd span {
            display: block;
            bottom: 22px;
            right: 6px;
            position: relative;
        }

        #tab-audio .file-box {
            width: 334px;
        }
    </style>
}
<div class="wrapper wrapper-content">
    <div class="tabs-container">
        <form id="searchForm" asp-action="Index" asp-controller="Source" data-ajax="true" data-ajax-method="POST" data-ajax-mode="replace" data-ajax-update="#ajaxresult">
            <input type="hidden" id="MediaType" name="MediaType"/>
            <ul class="nav nav-tabs">
                <li class="active" onclick="changeTab('panoram')">
                    <a data-toggle="tab" href="#tab-pano" aria-expanded="true"> 全景图片</a>
                </li>
                <li class="" onclick="changeTab('picture')">
                    <a data-toggle="tab" href="#tab-picture" aria-expanded="false">图片</a>
                </li>
                <li class="" onclick="changeTab('audio')">
                    <a data-toggle="tab" href="#tab-audio" aria-expanded="false">音频</a>
                </li>
                <li class="" onclick="changeTab('video')">
                    <a data-toggle="tab" href="#tab-audio" aria-expanded="false">视频</a>
                </li>
            </ul>
        </form>
        <div class="tab-content" id="ajaxresult">
            @if (Model.MediaType == 1)
            {
                <partial name="PanoramList" model="@Model.sourcelist" />
            }
            else if (Model.MediaType == 2)
            {
                <partial name="PictureList" model="@Model.sourcelist" />
            }
            else if (Model.MediaType == 3)
            {
                <partial name="AudioList" model="@Model.sourcelist" />
            }
            else
            {
                <partial name="VideoList" model="@Model.sourcelist" />
            }
        </div>
    </div>
</div>
@section scripts
{
    <script src="~/lib/krpano/hplus/js/plugins/blueimp/jquery.blueimp-gallery.min.js"></script>
    <script src="~/lib/krpano/hplus/js/plugins/fancybox/jquery.fancybox.js"></script>
    <script>
        //tab点击切换
        var changeTab = function (type) {
            if (type =="panoram") {
                $("#MediaType").val(1);
            }
            if (type == "picture") {
                $("#MediaType").val(2);
            }
            if (type == "audio") {
                $("#MediaType").val(3);
            }
            $("#searchForm").submit();
        };
        //缩略图预览
        function preview() {
            $('.fancybox').fancybox({
                openEffect: 'none',
                closeEffect: 'none'
            });
        };
        //文字转语音
        function conver() {
            layer.open({
            anim: 3,
            type: 2,
            title: '文字转语音',
            shadeClose: true,
            shade: 0.8,
            area: ['600px', '600px'],
            content: '@Url.Action("Conver", "Source")',
            btn: ['确认', '取消'],
            yes: function (index, layero) {
                var body = layer.getChildFrame('body', index);
                var iframeWin = window[layero.find('iframe')[0]['name']]; //得到iframe页的窗口对象，执行iframe页的方法：iframeWin.method();
                iframeWin.deleted();
            },
            btn2: function(index, layero){
                  layer.close(index);
            }
            });
        };
    </script>
}










































