@using Abp.Collections.Extensions
@using LJH.VRTool.Web.Views
@using LJH.VRTool.Web.Views.Shared.Components.SideBarNav
@model SideBarNavViewModel
@{
    var calculateMenuUrl = new Func<string, string>((url) =>
    {
        if (string.IsNullOrEmpty(url))
        {
            return ApplicationPath;
        }

        if (UrlChecker.IsRooted(url))
        {
            return url;
        }

        return ApplicationPath + url;
    });
}
@foreach (var menuItem in Model.MainMenu.Items)
{
    if (menuItem.Items.Any())
    {
        <li>
            <a href="#">
                <i class="@menuItem.Icon"></i>
                <span class="nav-label">@menuItem.DisplayName</span>
                <span class="fa arrow"></span>
            </a>
            <ul class="nav nav-second-level">
                @if (menuItem.Items.Count > 0)
                {
                    foreach (var cilditem in menuItem.Items)
                    {
                        <li>
                            <a class="J_menuItem" href="@calculateMenuUrl(cilditem.Url)">
                                <i class="@cilditem.Icon"></i>
                                <span class="nav-label">@cilditem.DisplayName</span>
                            </a>
                        </li>
                    }
                }
            </ul>

        </li>
    }
    else
    {
        <li>
            <a class="J_menuItem" href="@calculateMenuUrl(menuItem.Url)">
                <i class="@menuItem.Icon"></i>
                <span class="nav-label">@menuItem.DisplayName</span>
            </a>
        </li>
    }
}
