@using System.Globalization
@using Abp.Configuration
@using Abp.Configuration.Startup
@using Abp.Web.Mvc.Alerts
@using Abp.Web.Security.AntiForgery
@using LJH.VRTool
@using LJH.VRTool.Configuration
@using LJH.VRTool.Web.Resources
@using LJH.VRTool.Web.Views.Shared.Components.SideBarNav
@using LJH.VRTool.Web.Views.Shared.Components.SideBarUserArea
@using LJH.VRTool.Web.Views.Shared.Components.TopBarLanguageSwitch
@using LJH.VRTool.Web.Views.Shared.Components.RightSideBar
@inject LJH.VRTool.Timing.AppTimes AppTimes
@inject IAbpAntiForgeryManager AbpAntiForgeryManager
@inject IMultiTenancyConfig MultiTenancyConfig
@inject IWebResourceManager WebResourceManager
@inject ISettingManager SettingManager
@inject IAlertManager AlertManager
@{
    Layout = null;
    AbpAntiForgeryManager.SetCookie(Context);
    var uiTheme = await SettingManager.GetSettingValueAsync(AppSettingNames.UiTheme);
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="~/favicon.ico">
    <title>@ViewBag.Title</title>
    <environment names="Development">
        <link href="~/lib/krpano/hplus/css/bootstrap.min.css?v=3.3.5" rel="stylesheet" />
        <link href="~/lib/krpano/hplus/css/font-awesome.min.css?v=4.4.0" rel="stylesheet" />
        <link href="~/lib/krpano/hplus/js/plugins/gritter/jquery.gritter.css" rel="stylesheet" />
        <link href="~/lib/krpano/hplus/css/plugins/morris/morris-0.4.3.min.css" rel="stylesheet" />
        <link href="~/lib/krpano/hplus/css/animate.min.css" rel="stylesheet" />
        <link href="~/lib/krpano/hplus/css/style.min.css?v=4.0.0" rel="stylesheet" />
        <link href="~/lib/krpano/hplus/js/plugins/layer/skin/layer.css" rel="stylesheet" />
        <link href="~/lib/krpano/hplus/js/plugins/layer/skin/layer.ext.css" rel="stylesheet" />
        <link href="~/lib/krpano/hplus/js/plugins/layui/css/layui.css" rel="stylesheet" />
        <link href="~/lib/krpano/hplus/css/plugins/jsTree/jsTree.min.css" rel="stylesheet" />
        <link href="~/lib/krpano/hplus/css/plugins/sweetalert/sweetalert.css" rel="stylesheet">
        <link href="~/lib/krpano/hplus/css/plugins/iCheck/custom.css" rel="stylesheet" />
    </environment>
    <environment names="Staging,Production">
        @*<link href="~/view-resources/Views/_Bundles/shared-layout.min.css" rel="stylesheet" asp-append-version="true" />*@
    </environment>
    @RenderSection("styles", required: false)
</head>
<body class="fixed-sidebar full-height-layout gray-bg" style="overflow:hidden">
    <!--左侧导航开始-->
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="nav-close">
            <i class="fa fa-times-circle"></i>
        </div>
        <div class="sidebar-collapse">
            <ul class="nav" id="side-menu">

                <li class="nav-header">
                    <div class="dropdown profile-element">
                        <span><img alt="image" class="img-circle" src="~/lib/krpano/hplus/img/profile_small.jpg" /></span>
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="clear">
                                <span class="block m-t-xs"><strong class="font-bold">Beaut-zihan</strong></span>
                                <span class="text-muted text-xs block">超级管理员<b class="caret"></b></span>
                            </span>
                        </a>
                        <ul class="dropdown-menu animated fadeInRight m-t-xs">
                            <li>
                                <a class="J_menuItem" href="#">修改头像</a>
                            </li>
                            <li>
                                <a class="J_menuItem" href="#">个人资料</a>
                            </li>
                            <li>
                                <a class="J_menuItem" href="#">联系我们</a>
                            </li>
                            <li>
                                <a class="J_menuItem" href="#">信箱</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="login.html">安全退出</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a class="J_menuItem" href="@Url.Action("Index","Home")">
                        <i class="fa fa-home"></i>
                        <span class="nav-label">主页</span>
                    </a>
                </li>
                <li>
                    <a class="J_menuItem" href="@Url.Action("Index","Source")"><i class="fa fa-clone"></i> <span class="nav-label">全景素材管理</span></a>
                </li>
                <li>
                    <a class="J_menuItem" href="@Url.Action("Index","Panoram")"><i class="fa fa-youtube-play"></i> <span class="nav-label">VR全景管理</span></a>
                </li>
                <li>
                    <a class="J_menuItem" href="@Url.Action("Index","Video")"><i class="fa fa-tv"></i> <span class="nav-label">VR视频管理</span></a>
                </li>
                <li>
                    <a class="J_menuItem" href="@Url.Action("Index","Users")"><i class="fa fa-user"></i> <span class="nav-label">用户管理</span></a>
                </li>
                <li>
                    <a class="J_menuItem" href="@Url.Action("Index","Roles")"><i class="fa fa-user"></i> <span class="nav-label">角色管理</span></a>
                </li>
                <li>
                    <a class="J_menuItem" href="@Url.Action("Message","Home")"><i class="fa fa-comment"></i> <span class="nav-label">说一说管理</span></a>
                </li>
                <li>
                    <a class="J_menuItem" href="@Url.Action("Message","Home")"><i class="fa fa-commenting"></i> <span class="nav-label">留言管理</span></a>
                </li>
                <li>
                    <a class="J_menuItem" href="@Url.Action("Index","WebSetting")"><i class="fa fa-commenting"></i> <span class="nav-label">网站配置</span></a>
                </li>
            </ul>
        </div>
    </nav>


    <!--左侧导航结束-->
    <!-- Top Bar -->
        <nav class="navbar">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a href="javascript:void(0);" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false"></a>
                    <a href="javascript:void(0);" class="bars"></a>
                    <a class="navbar-brand" asp-controller="Home" asp-action="Index"><i class="fa fa-cubes"></i> VRTool</a>
                </div>
                <div class="collapse navbar-collapse" id="navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <!-- Call Search -->
                        <li><a href="javascript:void(0);" class="js-search" data-close="true"><i class="material-icons">search</i></a></li>
                        <!-- #END# Call Search -->
                        @await Component.InvokeAsync(typeof(TopBarLanguageSwitchViewComponent))
                        <li class="pull-right"><a href="javascript:void(0);" class="js-right-sidebar" data-close="true"><i class="material-icons">more_vert</i></a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- #Top Bar -->
        <!-- Left Bar -->
        <section>
            <aside id="leftsidebar" class="sidebar">
                @await Component.InvokeAsync(typeof(SideBarUserAreaViewComponent))
                @await Component.InvokeAsync(typeof(SideBarNavViewComponent), new { activeMenu = ViewBag.CurrentPageName })
            </aside>
            @await Component.InvokeAsync(typeof(RightSideBarViewComponent))
        </section>
        <!-- #Left Bar -->
        <!-- Main Bar -->
        <section class="content">
            <div class="container-fluid">
                @if (AlertManager.Alerts.Any())
                {
                    <div id="AbpPageAlerts">
                        @foreach (var alertMessage in AlertManager.Alerts)
                        {
                            <div class="alert alert-@alertMessage.Type.ToString().ToLower() @(alertMessage.Dismissible ? "alert-dismisable" : "")" role="alert">
                                <h4 class="alert-heading">
                                    @alertMessage.Title
                                    @if (alertMessage.Dismissible)
                                    {
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    }
                                </h4>
                                <p>@alertMessage.Text</p>
                            </div>
                        }
                    </div>
                }
                @RenderBody()
            </div>
        </section>
        <!-- #Main Bar -->
    <environment names="Development">
        <script src="~/lib/krpano/hplus/js/jquery.min.js?v=2.1.4"></script>
        <script src="~/lib/krpano/hplus/js/bootstrap.min.js?v=3.3.5"></script>
        <script src="~/lib/krpano/hplus/js/demo/peity-demo.min.js"></script>
        <script src="~/lib/krpano/hplus/js/plugins/flot/jquery.flot.js"></script>
        <script src="~/lib/krpano/hplus/js/plugins/flot/jquery.flot.tooltip.min.js"></script>
        <script src="~/lib/krpano/hplus/js/plugins/flot/jquery.flot.spline.js"></script>
        <script src="~/lib/krpano/hplus/js/plugins/flot/jquery.flot.resize.js"></script>
        <script src="~/lib/krpano/hplus/js/plugins/flot/jquery.flot.pie.js"></script>
        <script src="~/lib/krpano/hplus/js/plugins/peity/jquery.peity.min.js"></script>
        @*<script src="~/lib/krpano/hplus/js/content.min.js?v=1.0.0"></script>*@
        <script src="~/lib/krpano/hplus/js/plugins/jquery-ui/jquery-ui.min.js"></script>
        <script src="~/lib/krpano/hplus/js/plugins/gritter/jquery.gritter.min.js"></script>
        <script src="~/lib/krpano/hplus/js/plugins/easypiechart/jquery.easypiechart.js"></script>
        <script src="~/lib/krpano/hplus/js/plugins/sparkline/jquery.sparkline.min.js"></script>
        <script src="~/lib/krpano/hplus/js/demo/sparkline-demo.min.js"></script>
        <script src="~/lib/krpano/hplus/js/plugins/metisMenu/jquery.metisMenu.js"></script>
        <script src="~/lib/krpano/hplus/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
        <script src="~/lib/krpano/hplus/js/plugins/layer/layer.min.js"></script>
        <script src="~/lib/krpano/hplus/js/hplus.min.js?v=4.0.0"></script>
        <script src="~/lib/krpano/hplus/js/contabs.min.js"></script>
        <script src="~/lib/krpano/hplus/js/plugins/pace/pace.min.js"></script>
        <script src="~/lib/krpano/hplus/js/plugins/layer/extend/layer.ext.js"></script>
        <script src="~/lib/krpano/hplus/js/plugins/layui/layui.js"></script>
        <script src="~/lib/krpano/hplus/js/plugins/jsTree/jstree.min.js"></script>
        <script src="~/lib/krpano/hplus/js/plugins/sweetalert/sweetalert.min.js"></script>
        <script src="~/lib/krpano/hplus/js/plugins/iCheck/icheck.min.js"></script>
    </environment>
    <environment names="Staging,Production">
        @*<script src="~/view-resources/Views/_Bundles/shared-layout.min.js" asp-append-version="true"></script>*@
    </environment>
    @RenderSection("scripts", required: false)
</body>
</html>
