@using Webdiyer.AspNetCore;
@model PagedList<LJH.VRTool.Users.Dto.UserDto>
@section styles{
    <link href="~/lib/krpano/hplus/js/plugins/layui/css/mymodules/dtree.css" rel="stylesheet" />
    <link href="~/lib/krpano/hplus/js/plugins/layui/font/dtree/font/dtreefont.css" rel="stylesheet" />
    <style>
        .layui-tab-content {
            padding-left: 50px;
        }

        .file-option, .file-name {
            text-align: center
        }

        .upload-button-container {
            margin: 15px 0;
        }

        .add_newgroup {
            padding: 12px 5px;
            color: #293846;
        }

        .jstree-position {
            width: 180px;
            position: absolute
        }

        .tree-selected {
            background-color: #293846;
        }

        .tree-dl dl dd span {
            display: none;
        }

        .tree-dl dl:hover dd span {
            display: block;
            bottom: 22px;
            right: 6px;
            position: relative;
        }

        #tab-audio .file-box {
            width: 334px;
        }
    </style>
}
<div class="wrapper wrapper-content">
    <div id="tree" class="jstree jstree-2 jstree-default jstree-position">
        <div class="add_newgroup" onclick="add()">+ 新建根节点</div>
        @*<div style="height: 1000px;overflow: auto;" id="toolbarDiv">*@
            <ul id="organization" class="dtree" data-id="0"></ul>
        @*</div>*@

    </div>
    <div class="animated fadeInRight" style="margin-left:210px">
        <div class="upload-button-container">
            <button type="button" class="layui-btn" id="pano">上传全景图</button>
        </div>
        <div>
            <form id="formList">
                <table class="layui-table">
                    <thead>
                        <tr>
                            <th>
                                <input type="checkbox" lay-skin="primary" lay-filter="allChoose">
                            </th>
                            <th>ID</th>
                            <th>用户名</th>
                            <th>性别</th>
                            <th>手机</th>
                            <th>邮箱</th>
                            <th>地址</th>
                            <th>加入时间</th>
                            <th>是否激活</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <input type="checkbox" name="selectedIds" value="@item.Id" lay-skin="primary" lay-filter="itemChoose">
                                </td>
                                <td>@item.Id</td>
                                <td>@item.Name</td>
                                <td>男</td>
                                <td>13000000000</td>
                                <td>@item.EmailAddress</td>
                                <td>北京市 海淀区</td>
                                <td>@item.CreationTime</td>
                                <td>
                                    @if (IsGranted(LJH.VRTool.Authorization.PermissionNames.Pages_Users_IsActiveAct))
                                    {
                                        <input type="checkbox" data-id="@item.Id" lay-skin="switch" name="IsActive" id="IsActive" lay-filter="IsActive" checked="@item.IsActive" lay-text="是|否">
                                    }
                                    else
                                    {
                                        <input type="checkbox" data-id="@item.Id" lay-skin="switch" name="IsActive" id="IsActive" lay-filter="IsActive" checked="@item.IsActive" lay-text="是|否" disabled>
                                    }
                                </td>
                                <td>
                                    @if (IsGranted(LJH.VRTool.Authorization.PermissionNames.Pages_Users_EditAct))
                                    {
                                        <button type="button" class="layui-btn-ext layui-btnnobg-ext" onclick="edit('@item.Id')">
                                            <i class="layui-icon layui-icon-edit">
                                            </i>编辑
                                        </button>
                                    }
                                    @if (IsGranted(LJH.VRTool.Authorization.PermissionNames.Pages_Users_DeleteAct))
                                    {
                                        <button type="button" class="layui-btn-ext layui-btn-dangernobg-ext" onclick="deleted('@item.Id')">
                                            <i class="layui-icon layui-icon-delete">
                                            </i>
                                            删除
                                        </button>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </form>
        </div>
    </div>
    <div class="text-center" style="clear:both">
        <nav aria-label="Page navigation">
            @Html.Pager(Model, new PagerOptions
            {
                PageIndexParameterName = "pageIndex",
                TagName = "ul",
                CssClass = "pagination",
                CurrentPagerItemTemplate = "<li class=\"page-item active\"><a  class=\"page-link\" href=\"javascript:void(0);\">{0}</a></li>",
                DisabledPagerItemTemplate = "<li class=\"page-item disabled\"><a class=\"page-link\">{0}</a></li>",
                PagerItemTemplate = "<li class=\"page-item\">{0}</li>",
                Id = "bootstrappager"
            })
        </nav>
    </div>
</div>
@section scripts
    {
    <script src="~/lib/krpano/hplus/js/plugins/layui/layui.js"></script>
    <script src="~/lib/krpano/hplus/js/plugins/layui/layui.all.js"></script>
    <script src="~/lib/krpano/hplus/js/plugins/layui/lay/mymodules/dtree.js"></script>
    <script>
        var dtree = layui.dtree;
     //获取组织机构
         var getOrganization = function () {
             $.ajax({
                 url: '@Url.Action("GetOrganizationData", "Organizations")',
                 type: "POST",
                 dataType: "json",
                 success: function (res) {
                     if (res.result.status =="ok") {
                         DTree(res.result.data);
                     }
                 },
                 error: function (e) {
                        layer.msg('请求出错!', { icon: 3, time: 5000 });
                 }
              });
        };
        //节点点击事件
       

        // layui树渲染
        var DTree = function (res) {
            dtree.render({
                elem: "#organization",
                toolbar:true,
                data: res, 
                load: false,
                initLevel: 1,
                skin: "laySimple",  
                toolbarFun: {
                    addTreeNode: function (treeNode, $div) {
                        var data = {
                            disPlayName: treeNode.addNodeName,
                            parentId: treeNode.parentId
                        };
                        $.ajax({
                            type: "post",
                            data: data,
                            dataType: "json",
                            url: "@Url.Action("Add", "Organizations")",
                            success: function (res) {
                                if (res.result.status == "ok") {
                                    //dtree.changeTreeNodeAdd("refresh"); // 添加成功，局部刷新树
                                    dtree.reload("organization");
                                }
                            },
                            error: function () {

                            }
                        });
                    },
                    editTreeNode: function (treeNode, $div) {
                        var data = {
                            Id: treeNode.nodeId,
                            disPlayName: treeNode.editNodeName
                        };
                        $.ajax({
                            type: "post",
                            data: data,
                            dataType: "json",
                            url: "@Url.Action("Edit", "Organizations")",
                            success: function (res) {
                                
                            },
                            error: function () {
                            }
                        });
                    },
                    delTreeNode: function (treeNode, $div) {
                        var data = {
                            Id: treeNode.nodeId
                        };
                        $.ajax({
                            type: "post",
                            data: data,
                            url: "@Url.Action("Delete", "Organizations")",
                            success: function (res) {
                                if (res.result.status == "ok") {
                                    dtree.reload("organization");
                                }
                            },
                            error: function () {
                                
                            }
                        });
                    }
                }
            });
            dtree.on("node('organization')", function (obj) {
                layer.msg(JSON.stringify(obj.param));
                console.log(obj.param); // 点击当前节点传递的参数
                console.log(obj.dom); // 当前节点的jquery对象
                console.log(obj.childParams); // 当前节点的所有子节点参数
                console.log(obj.parentParam); // 当前节点的父节点参数
            });
        };
        //重新渲染
        //var Reload = function () {
        //    dtree.reload("commonTree0", {
        //        url: "../json/case/commonTree2.json",
        //        method: "get", //默认为post
        //        initLevel: "1" //默认为2
        //    });
        //};
        //添加根节点
        var add = function () {
            layer.open({
                anim: 3,
                type: 2,
                title: '添加根组织',
                shadeClose: true,
                shade: 0.8,
                area: ['600px', '600px'],
                content: '/Organizations/Add'
            });
        };
        $(function () {
            getOrganization();
        });
    </script>
}
