@using Webdiyer.AspNetCore;
@model PagedList<LJH.VRTool.Users.Dto.UserDto>
@section styles{
    <link href="~/lib/krpano/hplus/js/plugins/layui/css/mymodules/dtree.css" rel="stylesheet" />
    <link href="~/lib/krpano/hplus/js/plugins/layui/font/dtree/font/dtreefont.css" rel="stylesheet" />
    <style>
        .layui-tab-content {
            padding-left: 50px;
        }

        .file-option, .file-name {
            text-align: center
        }

        .upload-button-container {
            margin: 15px 0;
        }

        .organizationtree {
            padding: 12px 5px;
            color: #293846;
            background-color:#f2f2f2;
        }
        /*.organizationtree h2{
           
        }*/
         .organizationtree span{
              display: inline;
            font-size: 15px;
        }
        .jstree-position {
            position: absolute;
                height: 100%;
                border-right:1px solid #e2e2e2;
        }

        .tree-selected {
            background-color: #293846;
        }

        .tree-dl dl dd span {
            display: none;
        }

        .tree-dl dl:hover dd span {
            display: block;
            bottom: 22px;
            right: 6px;
            position: relative;
        }

        #tab-audio .file-box {
            width: 334px;
        }
    </style>
}
<div class="wrapper wrapper-content">
    <div id="tree" class="jstree jstree-2 jstree-default jstree-position">
        <div class="organizationtree" style="text-align:center">
            <i class="layui-icon layui-icon-add-circle-fine">
            </i>
            <span onclick="add()">新建根节点</span>
        </div>
        <div style="overflow: auto;" id="toolbarDiv">
            <ul id="organization" class="dtree" data-id="0"></ul>
        </div>
    </div>
    <div style="margin-left:270px">
        <div class="ibox-content">
            <form id="searchForm" asp-action="Index" asp-controller="Organizations" data-ajax="true" data-ajax-method="POST" data-ajax-mode="replace" data-ajax-update="#ajaxresult">
                <blockquote class="layui-elem-quote-ext">
                    @*组织机构*@
                    <input type="hidden" name="OrganizationId" value="" />
                    <div class="layui-inline">
                        <label class="layui-form-label-ext">日期范围:</label>
                        <div class="layui-input-inline" style="width: 120px;">
                            <input type="text" onfocus="WdatePicker({ maxDate:'#F{$dp.$D(\'TimeMin\')||\'%y-%M-%d\'}' })" id="TimeMin" name="TimeMin" class="lay-input-ext lay-input-time-ext Wdate">
                        </div>
                        <div class="layui-input-inline" style="width: 120px;">
                            <input type="text" onfocus="WdatePicker({ minDate:'#F{$dp.$D(\'TimeMax\')}',maxDate:'%y-%M-%d' })" id="TimeMax" name="TimeMax" class="lay-input-ext lay-input-time-ext Wdate">
                        </div>
                    </div>
                    @if (IsGranted(LJH.VRTool.Authorization.PermissionNames.Pages_Users_SearchAct))
                    {
                        <div class="layui-inline">
                            <div class="layui-input-inline">
                                <input type="text" id="KeyWord" name="KeyWord" placeholder="请输入关键字" class="lay-input-ext">
                            </div>
                            <a class="layui-btn-ext layui-btnnobg-ext " onclick="searchList()">
                                <i class="layui-icon layui-icon-search">
                                </i>查询
                            </a>
                        </div>
                    }
                    @if (IsGranted(LJH.VRTool.Authorization.PermissionNames.Pages_Users_CreateAct))
                    {
                        <div class="layui-inline">
                            <a class="layui-btn-ext layui-btnnobg-ext" onclick="add()">
                                <i class="layui-icon layui-icon-add-circle-fine">
                                </i>添加
                            </a>
                        </div>
                    }
                    @if (IsGranted(LJH.VRTool.Authorization.PermissionNames.Pages_Users_BatchDeleteAct))
                    {
                        <div class="layui-inline">
                            <a class="layui-btn-ext layui-btn-dangernobg-ext" onclick="batchdeleted()">
                                <i class="layui-icon layui-icon-delete">
                                </i>批量删除
                            </a>
                        </div>
                    }
                </blockquote>
            </form>
            <div class="table-responsive animated fadeInRight layui-form" id="ajaxresult">
                <table class="layui-table">
                    <thead>
                        <tr>
                            <th>
                                <input type="checkbox" lay-skin="primary" lay-filter="allChoose">
                            </th>
                            <th>ID</th>
                            <th>用户名</th>
                            <th>性别</th>
                            <th>手机</th>
                            <th>邮箱</th>
                            <th>地址</th>
                            <th>加入时间</th>
                            <th>是否激活</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <input type="checkbox" name="selectedIds" value="@item.Id" lay-skin="primary" lay-filter="itemChoose">
                                </td>
                                <td>@item.Id</td>
                                <td>@item.Name</td>
                                <td>男</td>
                                <td>13000000000</td>
                                <td>@item.EmailAddress</td>
                                <td>北京市 海淀区</td>
                                <td>@item.CreationTime</td>
                                <td>
                                    @if (IsGranted(LJH.VRTool.Authorization.PermissionNames.Pages_Users_IsActiveAct))
                                    {
                                        <input type="checkbox" data-id="@item.Id" lay-skin="switch" name="IsActive" id="IsActive" lay-filter="IsActive" checked="@item.IsActive" lay-text="是|否">
                                    }
                                    else
                                    {
                                        <input type="checkbox" data-id="@item.Id" lay-skin="switch" name="IsActive" id="IsActive" lay-filter="IsActive" checked="@item.IsActive" lay-text="是|否" disabled>
                                    }
                                </td>
                                <td>
                                    @if (IsGranted(LJH.VRTool.Authorization.PermissionNames.Pages_Users_EditAct))
                                    {
                                        <button type="button" class="layui-btn-ext layui-btnnobg-ext" onclick="edit('@item.Id')">
                                            <i class="layui-icon layui-icon-edit">
                                            </i>编辑
                                        </button>
                                    }
                                    @if (IsGranted(LJH.VRTool.Authorization.PermissionNames.Pages_Users_DeleteAct))
                                    {
                                        <button type="button" class="layui-btn-ext layui-btn-dangernobg-ext" onclick="deleted('@item.Id')">
                                            <i class="layui-icon layui-icon-delete">
                                            </i>
                                            删除
                                        </button>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@section scripts
    {
    <script src="~/lib/krpano/hplus/js/plugins/layui/layui.js"></script>
    <script src="~/lib/krpano/hplus/js/plugins/layui/layui.all.js"></script>
    <script src="~/lib/krpano/hplus/js/plugins/layui/lay/mymodules/dtree.js"></script>
    <script>
        var dtree = layui.dtree;
     //获取组织机构
         var getOrganization = function () {
             $.ajax({
                 url: '@Url.Action("GetOrganizationData", "Organizations")',
                 type: "POST",
                 dataType: "json",
                 success: function (res) {
                     if (res.result.status =="ok") {
                         DTree(res.result.data);
                     }
                 },
                 error: function (e) {
                        layer.msg('请求出错!', { icon: 3, time: 5000 });
                 }
              });
        };
        // layui树渲染
        var DTree = function (res) {
            dtree.render({
                elem: "#organization",
                toolbar:true,
                data: res,
                line: true,
                nodeIconArray: {"3":{"open":"dtree-icon-jian1","close":"dtree-icon-jia1"}},
                ficon: ["3", "-1"],
                icon: "0",  //修改二级图标样式
                toolbarFun: {
                    addTreeNode: function (treeNode, $div) {
                        var data = {
                            disPlayName: treeNode.addNodeName,
                            parentId: treeNode.parentId
                        };
                        $.ajax({
                            type: "post",
                            data: data,
                            dataType: "json",
                            url: "@Url.Action("Add", "Organizations")",
                            success: function (res) {
                                if (res.result.status == "ok") {
                                    //dtree.changeTreeNodeAdd("refresh"); // 添加成功，局部刷新树
                                    dtree.reload("organization");
                                }
                            },
                            error: function () {

                            }
                        });
                    },
                    editTreeNode: function (treeNode, $div) {
                        var data = {
                            Id: treeNode.nodeId,
                            disPlayName: treeNode.editNodeName
                        };
                        $.ajax({
                            type: "post",
                            data: data,
                            dataType: "json",
                            url: "@Url.Action("Edit", "Organizations")",
                            success: function (res) {

                            },
                            error: function () {
                            }
                        });
                    },
                    delTreeNode: function (treeNode, $div) {
                        var data = {
                            Id: treeNode.nodeId
                        };
                        $.ajax({
                            type: "post",
                            data: data,
                            url: "@Url.Action("Delete", "Organizations")",
                            success: function (res) {
                                if (res.result.status == "ok") {
                                    dtree.reload("organization");
                                }
                            },
                            error: function () {

                            }
                        });
                    }
                }
            });
            dtree.on("node('organization')", function (obj) {
                layer.msg(JSON.stringify(obj.param));
                console.log(obj.param); // 点击当前节点传递的参数
                console.log(obj.dom); // 当前节点的jquery对象
                console.log(obj.childParams); // 当前节点的所有子节点参数
                console.log(obj.parentParam); // 当前节点的父节点参数
            });
        };
        //添加根节点
        var add = function () {
            layer.open({
                anim: 3,
                type: 2,
                title: '添加根组织',
                shadeClose: true,
                shade: 0.8,
                area: ['600px', '600px'],
                content: '/Organizations/Add'
            });
        };
        $(function () {
            getOrganization();
        });
    </script>
}
